---
---

@import "materialize";
@import "font-awesome";
@import "colors";

@font-face {
    font-family: 'Roboto Light';
    src: url('{{ site.baseurl }}/fonts/roboto/Roboto-Light.ttf');
}


body,main,nav,footer,h1,h2,h3,h4,h5,p,a{
	font-family: "Roboto Light";
	letter-spacing:1px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @extend #{$primary-color}; 
}

main {
  flex: 1 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-logo, nav ul li a {
  @extend #{$brand-text-color};
  font-size: 1.2rem;
}

nav {
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0px 2px 0px rgba(255,255,255,0.3);
  // text-shadow: 2px 2px #000000;
}

.side-nav {
  @extend #{$primary-color};
}

.btn, .btn-large, .btn-floating {
  @extend #{$button-color};
  @extend #{$button-text};
}

.button-collapse {
  @extend #{$button-text};
}

.card, .card-reveal {
  @extend #{$secondary-color};
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.3);
}

footer {
  @extend #{$tertiary-color};
  @extend #{$content-text-color};

  #social-links li {
    display: inline;
    margin: auto 3px;
  }
}

h1, h2, h3, h4, h5, .card-title {
  @extend #{$title-text-color};
}

p, .content, .card-content, .card-reveal {
  @extend #{$content-text-color};
}

a {
  @extend #{$link-color};
}
