---
---

@import "materialize";
@import "colors";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-logo {
  @extend #{$brand-text-color};
}

nav {
  @extend #{$primary-color};
  box-shadow: none;
}

.card, .card-reveal {
  @extend #{$secondary-color};
}

footer {
  @extend #{$tertiary-color};
  @extend #{$content-text-color};
}

h1, h2, h3, h4, h5, .card-title {
  @extend #{$title-text-color};
}

p, .content, .card-content, .card-reveal {
  @extend #{$content-text-color};
}

a {
  @extend #{$link-color};
}
