---
---

@import "materialize";
@import "colors";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 25px;
}

nav {
  @extend #{$primary-color};
}

.card {
  @extend #{$secondary-color};
}

.card-action {
  a {
    @extend #{$link-color};
  }
}

footer {
  @extend .transparent;
}