---
---

@import "materialize.scss";
@import "font-awesome.scss";
@import "colors.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-logo, nav ul li a {
  @extend #{$brand-text-color};
  font-size: 1.5rem;
}

nav {
  @extend #{$primary-color};
  box-shadow: none;
}

.btn, .btn-large, .btn-floating {
  @extend #{$button-color};
  @extend #{$button-text};
}

.card, .card-reveal {
  @extend #{$secondary-color};
}

footer {
  @extend #{$tertiary-color};
  @extend #{$content-text-color};

  #social-links li {
    display: inline;
    margin: auto 3px;
  }
}

h1, h2, h3, h4, h5, .card-title {
  @extend #{$title-text-color};
}

p, .content, .card-content, .card-reveal {
  @extend #{$content-text-color};
}

a {
  @extend #{$link-color};
}
