// Mess with colors in here (note: materialize is already imported by source/css/main.scss)
// Note: for color variables, use the materialize color palette class names.
// Materialize color palette:
// http://materializecss.com/color.html#palette

$primary-color: ".light-blue";
$secondary-color: ".grey, .lighten-3";
$tertiary-color: ".grey, .lighten-2"; // mainly for footer

$brand-text-color: ".white-text";
$title-text-color: ".black-text";
$content-text-color: ".grey-text, .text-darken-3";

$link-color: ".blue-text";
