<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class=""> {{ site.title }} </h5>
        <p class=""> {{ site.description }} </p>
      </div>
      <div id="social-links" class="col l3 s12">
        <ul>
          <li><a href="{{ site.author.linkedin }}" class="waves-effect waves-light btn-floating"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="{{ site.author.github }}" class="waves-effect waves-light btn-floating"><i class="fa fa-github"></i></a></li>
          <li><a href="{{ site.author.facebook }}" class="waves-effect waves-light btn-floating"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black-text">
    <div class="container">
      <span class="content">© 2017 Copyright {{ site.author.name }} | All rights reserved.</span>
    </div>
  </div>
</footer>
