<footer class="page-footer transparent">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class=""> {{ site.title }} </h5>
        <p class=""> {{ site.description }} </p>
      </div>
      <div class="col l3 s12">
        <h5 class="">Footer Links</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5>More Footer Links</h5>
        <ul>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black-text">
    <div class="container">
    © 2017 Copyright {{ site.author.name }} | All rights reserved.
    </div>
  </div>
</footer>
